<%= form_for(@article, html: {id:"formulario"}) do |f| %>
	<% @article.errors.full_messages.each do |message| %>
		<div>
			* <%= message %>
		</div>
	<% end %>
	<div class="form-group">
		<%=f.text_field :title, placeholder:"Título", class:"form-control" %>
	</div>

	<div class="form-group">
		<%= f.file_field :cover, as: :file%>
	</div>

	<div class="form-group">
		<%= f.hidden_field :body, id:"body" %>
		<div id="epiceditor" style="height:250px;"></div>
	</div>

	<div class="form-group">
		<label>Categorias</label>
		<% @categories.each do |category| %>
			<div class="field">
				<%=check_box_tag "categories[]", category.id %> <%= category.name %>
			</div>
		<% end %>
	</div>

	<div class="form-group">
		<%=f.submit "Guardar", class:"btn btn-success" %>			
	</div>
<% end %>

<script>
	var editor = new EpicEditor({
		file:{
			name: "nuevo"
		}
	});

	editor.load();

	$('#formulario').on('submit', function(){
		$('#body').val(editor.exportFile("nuevo", "html"));
	});
</script>